@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
    --primary_red: hsl(0, 100%, 74%);
    --primary_green: hsl(154, 59%, 51%);
    --accent_blue: hsl(248, 32%, 49%);
    --neutral_dark_blue: hsl(249, 10%, 26%);
    --neutral_light_grey: rgba(124, 115, 122, 0.438);
    --neutral_grayish_blue: hsl(246, 25%, 77%);
    --neutral_white: #fff;
}  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    
}

.container {
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--primary_red);
    padding: 0 155px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.sect {
    width: 50%;
    margin: 0 auto;
    color: var(--neutral_white);
}

/* Left Container */
.left-container {
    padding-right: 31px;
}

h1 {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 25px;
}

.left-container p {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.9;
}

/* Right Container */
.right-container {
    
}

.banner {
    background-color: var(--accent_blue);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 10px 10px 20px 10px;
    font-size: 14px;
}

.banner span {
    font-weight: 800;
}

.form {
    background-color: var(--neutral_white);
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 10px;
}

.form div {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 17px 35px;
    border-radius: 5px;
    margin-bottom: 18px;
    
}

input {
    color: var(--neutral_dark_blue);
    border: 1px var(--neutral_grayish_blue) solid;
    font-weight: 800;
}

input:focus {
    border: 1.5px var(--accent_blue) solid;
    outline: none;
}

button {
    background-color: var(--primary_green);
    color: var(--neutral_white);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 3px hsl(154, 59%, 45%);
    border: 1px hsl(154, 59%, 45%) solid;
    
}

button:active {
    box-shadow: 0 0 hsl(154, 59%, 45%);
    transform: translateY(3px);
}

.form p {
    color: var(--neutral_light_grey);
    text-align: center;
    font-size: 10px;
}

.form span {
    color: var(--primary_red);
    font-weight: 800;
}


/* Author */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* js */
.error {
    border: 2px solid hsl(0, 100%, 74%);
    background: url(/images/icon-error.svg) no-repeat;
    background-position: 95% 50%;
}

.error-text{
    font-size: 12px;
    font-style: italic;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 20px;
}
.success {
    border: 2px solid hsl(154, 59%, 51%);
}


/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 40px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/images/bg-intro-mobile.png);
    }

    .sect {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        text-align: center;
        padding: 40px 0px 60px;
    }

    .form p {
        text-align: center;
    }
    
    h1 {
        font-size: 38px;
    }

    .banner {
        padding: 15px 60px;
    }
}
